# Dependências do Node.js
/node_modules

# Arquivos de compilação
/build
/dist

# Arquivos temporários
/.cache
/.DS_Store
/*.log
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Arquivos gerados a partir do sass
/src/calendar/index.css
/src/calendar/index.css.map 