//#A9E5D0; /* Cor da borda da grade */

@import '../../node_modules/react-big-calendar/lib/sass/styles';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


$cor-verde-agua: #A9E5D0;

.rbc-timeslot-group{
  border-bottom: 1px solid $cor-verde-agua;
}
.rbc-time-content{
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
.rbc-time-content > * + * > *{
  border-left: 1px solid $cor-verde-agua;
}
// .rbc-month-row + .rbc-month-row {
//   border-top: 1px solid $cor-verde-agua;
// }
// .rbc-day-bg + .rbc-day-bg {
//   border-left: 1px solid $cor-verde-agua;
// }
.rbc-time-header.rbc-overflowing {
  font-family: 'Montserrat', sans-serif;
  background-color: $cor-verde-agua;
  margin-right: 0px;
}
.rbc-header{
  border-bottom: 0px;
}
.rbc-button-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

//   border-left: 0px;
// }
// .element.style {
//    margin-right: 0px;
// }
// .rbc-month-view {
//   border: 1px solid $cor-verde-agua;
// }
// .rbc-row.rbc-month-header{
//   border: 1px solid $cor-verde-agua;
// }

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rbc-toolbar button.add-event-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 9px;
  background-color: #19A372;
  color: #ffff;
}
.rbc-toolbar button.search-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #fff;
}
.rbc-toolbar button{
  font-family: 'Montserrat', sans-serif;
}
.rbc-calendar{
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}
.rbc-timeslot-group {
  min-height: 100px;
}
body{
  background-color: #F4F4F4;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-modal h2 {
  margin-top: 0;
}

.custom-modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-modal label {
  font-weight: bold;
}

.custom-modal input[type="text"],
.custom-modal input[type="date"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.custom-modal button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.custom-modal button[type="submit"] {
  background-color: #28a745;
}

.custom-modal button[type="submit"]:hover,
.custom-modal button[type="submit"]:focus {
  background-color: #218838;
}

.custom-modal button[type="button"] {
  background-color: #dc3545;
}

.custom-modal button[type="button"]:hover,
.custom-modal button[type="button"]:focus {
  background-color: #c82333;
}


