//#A9E5D0; /* Cor da borda da grade */

@import '../../node_modules/react-big-calendar/lib/sass/styles';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


$cor-verde-agua: #A9E5D0;

.rbc-timeslot-group{
  border-bottom: 1px solid $cor-verde-agua;
}
.rbc-time-content{
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
.rbc-time-content > * + * > *{
  border-left: 1px solid $cor-verde-agua;
}
// .rbc-month-row + .rbc-month-row {
//   border-top: 1px solid $cor-verde-agua;
// }
// .rbc-day-bg + .rbc-day-bg {
//   border-left: 1px solid $cor-verde-agua;
// }
.rbc-time-header.rbc-overflowing {
  font-family: 'Montserrat', sans-serif;
  background-color: $cor-verde-agua;
  margin-right: 0px;
}
.rbc-header{
  border-bottom: 0px;
}
.rbc-button-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

//   border-left: 0px;
// }
// .element.style {
//    margin-right: 0px;
// }
// .rbc-month-view {
//   border: 1px solid $cor-verde-agua;
// }
// .rbc-row.rbc-month-header{
//   border: 1px solid $cor-verde-agua;
// }

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rbc-toolbar button.add-event-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 9px;
  background-color: #19A372;
  color: #ffff;
}
.rbc-toolbar button.search-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #fff;
}
.rbc-toolbar button{
  font-family: 'Montserrat', sans-serif;
}
.rbc-calendar{
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}
.rbc-timeslot-group {
  min-height: 100px;
}
body{
  background-color: #F4F4F4;
}
